<h1>My tasks ðŸ“‹</h1>
<%# <%= @tasks.inspect %>
<% @tasks.each do |task| %>
  <div>
    <input type="checkbox" id="title" name="title" <%= task.completed ? "checked" : "" %> />
    <label for="scales"> <%=link_to task.title, task_path(task)%> <%= link_to "ðŸ—‘ï¸",
    task_path(task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>
</label>
<br>
<hr>
<%= link_to "Add a New Task âœðŸ»", new_task_path%>
<div class="border">
  <% @tasks.each do |task| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <div class="trash">
          <p class="card-text"> <%= link_to "ðŸ—‘ï¸",
        task_path(task),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
        </div>
        <h3 class="card-title"><%=link_to task.title, task_path(task)%> <input type="checkbox" id="title" name="title" <%= task.completed ? "checked" : "" %> /></h3>
      </h3>
    </div>
  </div>
<% end %>
</div>
