<div class="container">
  <h1>My tasks
    <i class="fa-solid fa-clipboard"></i></h1>
  <%# <%= @tasks.inspect %>
  <button class="button-56" role="button"><%= link_to "New Task âœðŸ»", new_task_path%></button>
  <div class="border">
    <% @tasks.each do |task| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="trash">
            <p class="card-text">
              <%= link_to task_path(task),
                method: :delete,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </p>
          </div>
          <h3 class="card-title"><input type="checkbox" id="title" name="title" <%= task.completed ? "checked" : "" %> /> <%=link_to task.title, task_path(task)%></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
