<%= link_to "Edit Task", edit_task_path(@task)%>
<h2>Task: <%= @task.title %></h2>
<p>Details: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>
<br>
<hr>
<%= link_to "Back to the list", tasks_path%>
